{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio - CineMatch{% endblock %}

{% block content %}
    <h1 class="mb-4">Películas Recomendadas</h1>
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ movie.poster_url }}" class="card-img-top" alt="{{ movie.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">{{ movie.overview|truncatechars:100 }}</p>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-primary">Ver detalles</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}