{% extends 'base.html' %}
{% load static %}

{% block title %}{{ movie.title }} - CineMatch{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img src="{{ movie.poster_url }}" class="img-fluid" alt="{{ movie.title }}">
        </div>
        <div class="col-md-8">
            <h1>{{ movie.title }}</h1>
            <p><strong>Fecha de lanzamiento:</strong> {{ movie.release_date }}</p>
            <p><strong>Género:</strong> {{ movie.genre }}</p>
            <p><strong>Director:</strong> {{ movie.director }}</p>
            <p>{{ movie.overview }}</p>
            <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>
        </div>
    </div>
{% endblock %}